name: metaverse-bridge-oracles-monorepo-cd
on: 
  workflow_dispatch:
  push:
    branches:
      - main
  
jobs:
  buid-image:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build Image
        run: docker build -t moonsama/bridge:$(git rev-parse --short HEAD)-$(date +%F-%H-%M) .

      - name: Push Image
        run: docker push moonsama/bridge:$(git rev-parse --short HEAD)-$(date +%F-%H-%M)
