name: metaverse-monorepo-ci
on: pull_request
jobs:
  buid-image:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Image
        run: docker build -t moonsama/bridge:$(git rev-parse --short HEAD)-$(date +%F-%H-%M) .
